.center{
    text-align: center;
    margin-inline: auto;
    display: block;
    width: 100%;
}

.error__page{
    height: 100vh;
    display: grid;
    place-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--color-gray-900);
}
.error__page h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-white);
}