.post__detail{
    width: var(--form-width);
    background: var(--color-white);
    margin-inline: auto;
    padding: 2rem 0;
}

.post__detail-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.post__detail-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post__detail-thumbnail{
    margin: 1rem 0;
    height: fit-content;
}

.post__detail-thumbnail img{
    aspect-ratio: 16/9;
}

.post__detail p{
    margin-bottom: .7rem;
}

@media screen and (max-width: 800px){
    .post__detail{
        width: 100%;
        background-color: transparent;
        padding: 0;
    }
    .post__detail h1{
        margin-top: 1rem;
    }
}