.register, .login, .create__post{
    width: var(--form-width);
    margin-inline: auto;
    height: calc(100vh - 12rem);
    display: grid;
    place-items: center;
}

/* .register__container{
    width: var(--form-width);
    margin-inline: auto;
} */

.register h2, .login h2, .create__post h2{
    margin-bottom: 2rem;
}

.register small, .login small{
    display: block;
    margin-top: 1.5rem;
}

.register small a, .login small a{
    color: var(--color-primary);
    text-decoration: underline;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}    

.form__error-message{
    background-color: var(--color-red);
    color: var(--color-white);
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    display: block;
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px){
    .register{
        width: 100%;
    }
}