nav{
    width: 100vw;
    height: 5rem;
    background: var(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 4px solid var(--color-bg);
    backdrop-filter: blur(20px);
    display: grid;
    align-items: center;
    align-content: center;
}

.nav__logo{
    width: 3rem;
    display: inline-block;
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__toggle-btn{
    display: none;
}

@media screen and (max-width: 800px){
    .nav__container{
        position: relative;
    }

    .nav__menu{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
    }

    .nav__menu li{
        width: 100%;
        box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.26);
        opacity: 0;
        transform: rotateX(90deg);
        animation: dropDown 500ms ease forwards;
        transform-origin: top;
    }

    @keyframes dropDown{
        to{
            opacity: 1;
            transform: rotateX(0);
        }
    }

    .nav__menu li:nth-child(2){
        animation-delay: 300ms;
    }

    .nav__menu li:nth-child(3){
        animation-delay: 600ms;
    }

    .nav__menu li:nth-child(4){
        animation-delay: 900ms;
    }

    .nav__menu li a{
        display: block;
        background-color: var(--color-white);
        padding: 0.85rem 2.5rem;
    }

    .nav__toggle-btn{
        display: inline-block;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }


}